.nauja{border:solid 1px black }
.breadcrumb:before {
	color: black;
}
.aukstis {height:14px;line-height: 14px;}
.paveikslas {height: 300px;}
.paveikslas {margin-top: 25px; margin-bottom:10px; }
.tekstas {margin-bottom: 60px; }
.eilute{min-height:270px;}
.zemelapis{padding-left:0px !important;}
.pavadinimas {height:15px;}