.mazafoto {  width: 100%; 
	}
.mazafoto2 {width: 100%;
			max-width: 150px; 
	}
.logo2 {width: 100%;
		max-width: 384px;
		max-height: 58px;}
.fotPadd {padding-top: 70px;}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="fotPadd0"] {
        padding-top: 0px;
    }
}
@media only screen and (min-width: 605px) {
    /* For mobile phones: */
    [class*="ekranas"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
}
.eilute {border:solid 0px grey; border-radius:25px;}
.paspausti { min-height: 0px; 
	max-width: 5px; }
@media only screen and (min-width: 605px) {
    /* For mobile phones: */
    [class*="deskLeft"] {
   float: left !important;
   width: 30%;
  }
}