.nauja{border:solid 1px black }
.breadcrumb:before {
	color: black;
}
.aukstis {height:14px;line-height: 14px;}
.paveikslas {height: 70px; width: 100px;}
.eilute{height:270px;}
.pavadinimas {height:15px;}